
.dostouri{
    color: $accentR;
    background-color: $primaryR;
    .politician_card{
        background-color:rgba($accentR,0.08)
    }
    .degrade{
        /* DRY: later modulate with sass maxin or other future.*/
        background: linear-gradient(-90deg, $accentR 0%, transparent 98%);
        height: 5em;
        width: 100%;
        opacity: 0.26;
    }
    .smoll{
        background: linear-gradient(90deg,$accentR 0%, transparent 98%);
        width: 12em;
        position: absolute;
        left:0;
        top:2em;
        opacity: 0.1;
    }
    .butt{
        color:$accentR;
        background: linear-gradient(0deg, rgba($primaryG, 0.16) 0%, transparent 98%);

    }
    .butt:before{
        box-shadow: 0 50px 0 0 $accentR;
    }

}
.karama{
    color: $accentG;
    background-color: $primaryG;
    .politician_card{
        background-color: rgba($accentG,0.08);
    }
    .degrade{
        background: linear-gradient(-90deg, $accentG 0%, transparent 98%);
        height: 5em;
        width: 100%;
        opacity: 0.5;
    }
    .smoll{
        background: linear-gradient(90deg,$accentG 0%, transparent 98%);
        width: 12em;
        position:absolute;
        left:0;
        top:2em;
        opacity: 0.18;

    }
    .butt{
        color:$accentG;
        background: linear-gradient(0deg, rgba($accentR, 0.3) 0%, transparent 98%);
    }
    .butt:before{
        box-shadow: 0 50px 0 0 $accentG;

    }
}




.clashing_colors{
    background: linear-gradient(90deg, $primaryG var(--mainSplitCC), $primaryR 0);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    @media (max-width: $breakpointMobile){
        background: linear-gradient(180deg,  $primaryR var(--mainSplitCC), $primaryG 0);
    }
    .headers_container { 
        $headerRightMargin: 31vw;
        margin: 6em 0;
        background: linear-gradient(90deg, $accentG var(--mainSplitCC), $accentR 0);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: orangered;
        @media (max-width: $breakpointMobile){
            $headerTopMargin: 12vh;
            margin: $headerTopMargin auto 0 auto;
            width: 95%;
            background: linear-gradient(180deg,  $accentR calc(var(--mainSplitCC) - #{$headerTopMargin}), $accentG 0);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
        }
        .headers{
            margin-right:  $headerRightMargin;
        }
        p,h1{
            @media (max-width: $breakpointMobile){
            text-align: center;
            }
        }
        p{
            font-size: 3vh;
            margin-top:3vh;
            line-height: 5.6vh;
            margin-left:36vw;
            @media (max-width: $breakpointMobile){
                padding:0;
                font-size: 2.5vh;
            }
        }
        h1{
            font-size: 20vh;
            white-space: nowrap;
            font-weight: 400;
        }

    }
    &_cta{
        display: flex;
        align-items: flex-end;
        position: absolute;
        left:4em;
        bottom:0;
        @media (max-width: $breakpointMobile){
            left:50%;
            transform: translateX(-50%); 
        }
        a{
            position: absolute;
            bottom: 5em;
            right: -1.6em;
            z-index: 2;
            text-decoration:none;
            color: $accentG;
            font-size: 1.2em;
            font-weight: 600;
            @media(max-width: $breakpointMobile){
                right: -0.6em;
                font-weight: 400;
            }
        }
        .degrade{
            background: linear-gradient(0deg, rgba($accentR, 0.5) 0%, transparent 98%);
            position: relative;
        }
        .degrade:nth-child(2){
            width: 1.4em;
            height: 8em;
            margin-right: 2em;
            bottom: 2em;
        }
        .degrade:nth-child(3){
            width: 4em;
            height: 18em;
        }
        .degrade:nth-child(4){
            width: 1em;
            height: 5em;
            margin-left: 1em;
        }
    }

}

