.clashing_colors{
    background: linear-gradient(90deg, $green--light var(--mainSplitCC), $red--dark 0);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    @media (max-width: $breakpointMobile){
        background: linear-gradient(180deg,  $red--dark var(--mainSplitCC), $green--light 0);
    }
    .headers_container { 
        $headerRightMargin: 31vw;
        margin: 6em 0;
        background: linear-gradient(90deg, $green--dark var(--mainSplitCC), $red--light 0);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: orangered;
        @media (max-width: $breakpointMobile){
            $headerTopMargin: 12vh;
            margin: $headerTopMargin auto 0 auto;
            width: 95%;
            background: linear-gradient(180deg,  $red--light calc(var(--mainSplitCC) - #{$headerTopMargin}), $green--dark 0);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
        }
        .headers{
            margin-right:  $headerRightMargin;
        }
        p,h1{
            @media (max-width: $breakpointMobile){
            text-align: center;
            }
        }
        p{
            font-size: 3vh;
            margin-top:3vh;
            line-height: 5.6vh;
            margin-left:36vw;
            @media (max-width: $breakpointMobile){
                padding:0;
                font-size: 2.5vh;
            }
        }
        h1{
            font-size: 20vh;
            white-space: nowrap;
            font-weight: 400;
        }

    }
    &_cta{
        display: flex;
        align-items: flex-end;
        position: absolute;
        left:4em;
        bottom:0;
        @media (max-width: $breakpointMobile){
            left:50%;
            transform: translateX(-50%); 
        }
        a{
            position: absolute;
            bottom: 5em;
            right: -1.6em;
            z-index: 2;
            text-decoration:none;
            color: $green--dark;
            font-size: 1.2em;
            font-weight: 600;
            @media(max-width: $breakpointMobile){
                right: -0.6em;
                font-weight: 400;
            }
        }
        .degrade{
            background: linear-gradient(0deg, rgba($red--light, 0.5) 0%, transparent 98%);
            position: relative;
        }
        .degrade:nth-child(2){
            width: 1.4em;
            height: 8em;
            margin-right: 2em;
            bottom: 2em;
        }
        .degrade:nth-child(3){
            width: 4em;
            height: 18em;
        }
        .degrade:nth-child(4){
            width: 1em;
            height: 5em;
            margin-left: 1em;
        }
    }

}

