.line_chart_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin:4em auto;
    
        margin-top: 8em;
    
    .chart_title{
        font-family: "meral";
   
    }

}




@mixin addPartyColors($primary, $secondary, $complementary){ 
    .line_chart_wrapper { 
        .chart_title{
            color:$secondary;
            opacity: 0.9
        }

        #stroke_main{
            stroke:$secondary;
        }
        #degrade {
            stop:nth-of-type(1){
                stop-color: $secondary;
            }
            stop:nth-of-type(2){
                stop-color: $primary;
            }
        }
        #grid{
            stroke: rgba($secondary, 0.5);   
        }
        .recharts-cartesian-axis-ticks text{
        fill: rgba($secondary, 0.5);   
        }
    }
}

.layout--dostouri{
    @include addPartyColors($red--dark, $red--light, $green--light);
}

.layout--karama{
    @include addPartyColors($green--light, $green--dark, $red--light);
}