.line_chart_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin:4em auto;
    
        margin-top: 8em;
    
    
    .chart_intel{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        position: relative;
        padding-top: 40px;
        padding-bottom: 100px;
        /*idealy width is "inherit" but because recharts has margin of 50px (left and right) for the axis labels. this is set to 700
        700 = 800 - 50 * 2 
        */
        width: 700px;
        .chart_title{
            font-family: "meral";
            justify-self: flex-end;
            font-size: 20px;
        }
        .react_select{
            position: relative;
            left:60px
        }
    }
}

@mixin addDataSourceColor($strokeColor, $i){
    #stroke#{$i}{
        stroke: $strokeColor
    }
    #degrade#{$i}{
        stop:nth-of-type(1){
            stop-color: $strokeColor;
        }
        stop:nth-of-type(2){
            stop-color: transparent;
        }
    }
}


@mixin addPartyColors($primary, $secondary, $complementary){ 
    .line_chart_wrapper { 
        .chart_title{
            color:$secondary;
            opacity: 0.9
        }

        @include addDataSourceColor($secondary, 0);
        @include addDataSourceColor($complementary, 1);
        @include addDataSourceColor($accent, 2);

        
        #grid{
            stroke: rgba($secondary, 0.5);   
        }
        .recharts-cartesian-axis-ticks text{
        fill: rgba($secondary, 0.5);   
        }
    }
}

.layout--dostouri{
    @include addPartyColors($red--dark, $red--light, rgba($green--light,0.5));
}

.layout--karama{
    @include addPartyColors($green--light, $green--dark,#c23c2a9c);
}