
/* since first element(abir) is off diferrent color, increase its margin, and give it space*/
section .politician_card_container:first-of-type .politician_card{
    margin:13em auto;
}

.politician_card_container{
    overflow: auto;

    .politician_card{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        margin: 4em auto;
        max-width: 1500px;
        padding-top:10em;
        @media (max-width: $breakpointMobile) {
            flex-direction: column;
            align-items: flex-end;
        }
        .politician_info{
            font-size: 1.2em;
            padding-right: 5em;
            @media (max-width: $breakpointMobile) {
                padding-right: 0em;
            }
            h3{
                font-size: 6.7em;
                margin-bottom:0.3em;
                line-height: 0.7em;
            }
            ul{
                font-size:1.2em;
                margin-top:5em;
                li{
                    margin-top:0.6em;
                }
                /*value bolding after the key*/
                li span:nth-child(2){
                    font-weight: 600;
                    padding-right: 1.4em;
                }
            }
        }
        .butt{
            text-decoration: none;
            align-self: flex-end;
            position: absolute;
            left:0;
            bottom:0;
            font-size: 1.2em;
            font-weight: 600;
            word-spacing: 0.4em;
            padding: 1.5em 3em 1em 3em;
            &:before{
                content: "";
                display: block;
                height: 7px;
                width: 100%;
                top: 1em;
                left: 0;
                bottom: 0;
                position: absolute;
                border-radius: 10px;
            }
        }
        .politician_image{
            width: 25em;
            picture{
                opacity: 0.8;
            }
        }
    }
    
}
