.select_dropdown_wrapper {
    width: 500px;
    
    /*CONTROL*/
    >div:first-of-type{
        background-color: transparent;
        border-bottom: 2px solid;
        cursor: default;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        transition: all 100ms;
        box-sizing: border-box;
    
    }
    /*MENU*/
    >div:nth-of-type(2){
        top: 100%;
        border-radius: 4px;
        margin-bottom: 8px;
        margin-top: 8px;
        position: absolute;
        width: 100%;
        z-index: 1;
        box-sizing: border-box;
    }
    [tabindex = '-1']{
        padding: 14px 11px
    }
}

@mixin addPartyColors($primary, $secondary){
    .select_dropdown_wrapper {
        /*CONTROL*/
        >div:first-of-type{
            border-color: $primary;
            background-color: $secondary;
        }
        /*MENU*/
        >div:nth-of-type(2){
            background-color: $secondary;
            box-shadow: 7px 3px 16px 0px rgba($primary, 0.08)
        }
        [tabindex = '-1']{
            background-color: $secondary;
            :hover{
                background-color: red;
                color:red;
            }
        }

        div{
            color: $primary
        }
    }
}

.pp--dostouri{
    @include addPartyColors($red--light, $red--dark)
}
.pp--karama{
    @include addPartyColors($green--dark, $green--light)
}