@font-face {
    font-family: 'TS Ateq';
    src: url("../fonts/ts_ateq.woff");
}
@font-face {
    font-family: 'Meral';
    src:url("../fonts/Meral-Regular.otf"); 
}
$red--dark: #40100A;
$green--dark: #153325;
$green--light: #159E5B;
$red--light: #EB4B36;
$navbarXPadding: 5vw;
$navbarYpadding: 2.5em;
$breakpointMobile: 1200px;
:root{
    --mainSplitCC: 60vw
}
@media (max-width: $breakpointMobile) {
    :root{
        --mainSplitCC: 30vh
    }
}


*{
    margin:0;
    padding:0;
    font-family: 'Meral';
    text-align: right;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1, h2, h3, .politician_page .emphasis, h4, h5, h6{
    font-family: "TS Ateq";
    font-weight: 400;
}


ul{list-style: none;}


@import "./navbar";
@import "./clashing_colors";
@import "./politician_card";

@import "./politician_page"



