@font-face{
    font-family: 'TS Ateq';
    src: url("../fonts/ts_ateq.woff");
}
@font-face {
    font-family: 'Meral';
    src:url(../fonts/Meral-Regular.otf) format('truetype') font-weight-400
}

:root{
    --primaryR: #40100A;
    --primaryG: #159E5B;
    --accentR: #EB4B36;
    --accentG: #153325;
}

*{
    margin:0;
    padding:0;
    font-family: 'Meral';
    text-align: right;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: "TS Ateq";
    font-weight: 400;
}
ul{list-style: none;}




.hero_container{
    background: linear-gradient(90deg, var(--primaryG) 60vw, var(--primaryR) 40vw);
}

.hero_header{
    margin-left: calc(60vw - 31vw);
    width: 41vw;
}

.hero_header h1{
    font-size: 20vh;
    white-space: nowrap;
    font-weight: 400;
}
.hero_header p{
    font-size: 3vh;
    margin-top:3vh;
    line-height: 5.6vh;
    padding-left:10vh
    
}
.hero_header h1, .hero_header p{
    /*background always needs to be first */
    background: linear-gradient(90deg, var(--accentG) 31vw, var(--accentR) 31vw);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: orangered;
} 

.politician_card_container{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    max-width: 1700px;
    margin: 0 auto;
}
.politician_info{
    font-size: 1.2em;
    color: var(--accentG);
    padding: 2em 0 0 0;
}

.politician_info h3{
    font-size: 6.7em;
    margin-bottom:0.1em;
}
.politician_info ul{
    font-size:1.2em;
    margin-top:4em;
}
.politician_info li{
    margin-top:0.6em;
}
.politician_info ul li span:nth-child(2){
    font-weight: 600;
    padding-right: 1.4em;
}

.politician_card_container a {
    position: absolute;
    left:0;
    bottom:0;
}