@font-face {
    font-family: 'TS Ateq';
    src: url("../fonts/ts_ateq.woff");
}
@font-face {
    font-family: 'Meral';
    src:url(../fonts/Meral-Regular.otf) format('truetype') font-weight-400
}

:root{
    --primaryR: #40100A;
    
}
$accentG: #153325;
$primaryG: #159E5B;
$accentR: #EB4B36;
*{
    margin:0;
    padding:0;
    font-family: 'Meral';
    text-align: right;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: "TS Ateq";
    font-weight: 400;
}


ul{list-style: none;}







.navbar{
    position: absolute;
    width: 100%;
    top:0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-right:5vw; 
    &_logo svg{
        color: red;
        height: 1em;
        min-height: 40px;
        
    }
    &_links{
        display: flex;
        justify-content: flex-start;
        padding-left: 5vw;
        width: 60vw;
        background: linear-gradient(180deg, lighten( saturate($primaryG, 100% ), 8%), transparent 98%);
        li{
            padding:2.5em;
        }
        a{
            text-decoration:none;
            color: $accentG;
            font-size: 1.2em;
            font-weight: 600;
        }
    }
}



.clashing_colors{
    background: linear-gradient(90deg, $primaryG 60vw, var(--primaryR) 40vw);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    &_header { 
        margin-left: calc(60vw - 31vw);
        width: 41vw;
        margin-top: 6em;
        p{
            font-size: 3vh;
            margin-top:3vh;
            line-height: 5.6vh;
            padding-left:10vh;
        }
        h1{
            font-size: 20vh;
            white-space: nowrap;
            font-weight: 400;
        }
        h1, p{
            /*background always needs to be first */
            background: linear-gradient(90deg, $accentG 31vw, $accentR 31vw);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: orangered;
        } 
    }
    &_cta{
        display: flex;
        align-items: flex-end;
        position: absolute;
        left:4em;
        bottom:0;
        a{
            position: absolute;
            bottom: 5em;
            right: -1.6em;
            z-index: 2;
            text-decoration:none;
            color: $accentG;
            font-size: 1.2em;
            font-weight: 600;
        }
        .degrade{
            background: linear-gradient(0deg, rgba($accentR, 0.5) 0%, transparent 98%);
            position: relative;
        }
        .degrade:nth-child(2){
            width: 1.4em;
            height: 8em;
            margin-right: 2em;
            bottom: 2em;
        }
        .degrade:nth-child(3){
            width: 4em;
            height: 18em;
        }
        .degrade:nth-child(4){
            width: 1em;
            height: 5em;
            margin-left: 1em;
        }
    }

}







.dostouri{
    color: $accentR;
    background-color: var(--primaryR);
    .degrade{
        /* DRY: later modulate with sass maxin or other future.*/
        background: linear-gradient(-90deg, $accentR 0%, transparent 98%);
        height: 5em;
        width: 100%;
        opacity: 0.2;
    }
    .smoll{
        background: linear-gradient(90deg,$accentR 0%, transparent 98%);
        width: 12em;
        position: absolute;
        left:0;
        top:2em;
        opacity: 0.1;
    }
    .butt{
        color:$accentR;
        background: linear-gradient(0deg, rgba($primaryG, 0.1) 0%, transparent 98%);

    }
    .butt:before{
        box-shadow: 0 50px 0 0 $accentR;
    }

}
.karama{
    color: $accentG;
    background-color: $primaryG;
    .degrade{
        background: linear-gradient(-90deg, $accentG 0%, transparent 98%);
        height: 5em;
        width: 100%;
        opacity: 0.4;
    }
    .smoll{
        background: linear-gradient(90deg,$accentG 0%, transparent 98%);
        width: 12em;
        position:absolute;
        left:0;
        top:2em;
        opacity: 0.2;

    }
    .butt{
        color:$accentG;
        background: linear-gradient(0deg, rgba($accentR, 0.3) 0%, transparent 98%);
    }
    .butt:before{
        box-shadow: 0 50px 0 0 $accentG;

    }
}



.politician_card_container{
    overflow: auto;
    .politician_card{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        margin: 7em auto 18em auto;
        max-width: 1500px;
        @media (max-width: 400px) {
            flex-direction: column;
            align-items: flex-end;
        }
        .politician_info{
            font-size: 1.2em;
            padding-right: 7em;
            @media (max-width: 400px) {
                padding-right: 0em;
            }
            h3{
                font-size: 6.7em;
                margin:0.3em 0;
                line-height: 0.7em;
            }
            ul{
                font-size:1.2em;
                margin-top:5em;
                li{
                    margin-top:0.6em;
                }
                /*value bolding after the key*/
                li span:nth-child(2){
                    font-weight: 600;
                    padding-right: 1.4em;
                }
            }
        }
        .butt{
            text-decoration: none;
            align-self: flex-end;
            position: absolute;
            left:0;
            bottom:0;
            font-size: 1.2em;
            font-weight: 600;
            word-spacing: 0.4em;
            padding: 1.5em 3em 1em 3em;
            &:before{
                content: "";
                display: block;
                height: 7px;
                width: 100%;
                top: 1em;
                left: 0;
                bottom: 0;
                position: absolute;
                border-radius: 10px;
            }
        }
        .politician_image{
            width: 30.4em;
            picture{
                opacity: 0.8;
            }
        }
    }
    
}
