.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    flex-direction: row-reverse;
}
.nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    min-width: 20%;
}
.nav ul a{
    text-decoration: none;
    padding:1em    
}